<div class="container">
<nav id="main-nav" class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <a class="brand-logo" href="/"><img id="logo" src="/images/logo4.png" alt="Spark"></a>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Hello, Apple Inc.
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Something</a></li>
            <li><a href="#">Other stuff</a></li>
          </ul>
      </li>
    </ul>
  </div>
</nav>
<div class="top-padding">
    <h1 id="company">Apple Inc.</h1>
    <img id="company-logo" src="/images/th.jpeg">
    <div>
    <h3 style="strong">Bio</h3>
    <p id="bio">Apple is an American multinational technology company headquartered in Cupertino, California that designs, develops, and sells consumer electronics, computer software, and online services. The company's hardware products include the iPhone smartphone, the iPad tablet computer, the Mac personal computer, the iPod portable media player, the Apple smartwatch, and the Apple TV digital media player. Apple's consumer software includes the macOS and iOS operating systems, the iTunes media player, the Safari web browser, and the iLife and iWork creativity and productivity suites. Its online services include the iTunes Store, the iOS App Store and Mac App Store, Apple Music, and iCloud.</p>
    <button type="button" class="btn btn-success pull-right">Edit</button>
    </div>
    <div class="listing">
    <h3 style="strong">Listed Jobs</h3>
    <div class="joblist">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Department</th>
          <th>Position</th>
          <th>Location</th>
          <th>Posted Date</th>
          <th>Salary Range</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Web-Development</td>
          <td>Angular Front End</td>
          <td>San Francisco</td>
          <td>Mar 3rd, 2017</td>
          <td>$70,000 - $95,000</td>
          <td><button type="button" class="btn btn-xs btn-warning">Edit</button>&nbsp;&nbsp;<button type="button" class="btn btn-xs btn-danger">Remove</button></td>
        </tr>
        <tr>
          <td>2</td>
          <td>Finance</td>
          <td>Analyst</td>
          <td>Chicago</td>
          <td>Feb 20th, 2017</td>
          <td>$70,000 - $95,000</td>
          <td><button type="button" class="btn btn-xs btn-warning">Edit</button>&nbsp;&nbsp;<button type="button" class="btn btn-xs btn-danger">Remove</button></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Human Resources</td>
          <td>HR Specialist</td>
          <td>San Francisco</td>
          <td>Jan 28th, 2017</td>
          <td>$60,000 - $75,000</td>
          <td><button type="button" class="btn btn-xs btn-warning">Edit</button>&nbsp;&nbsp;<button type="button" class="btn btn-xs btn-danger">Remove</button></td>
        </tr>
        <tr>
          <td>4</td>
          <td>Human Resources</td>
          <td>HR Specialist</td>
          <td>San Francisco</td>
          <td>Feb 6th, 2017</td>
          <td>$75,000 - $80,000</td>
          <td><button type="button" class="btn btn-xs btn-warning">Edit</button>&nbsp;&nbsp;<button type="button" class="btn btn-xs btn-danger">Remove</button></td>
        </tr>
        <tr>
          <td>5</td>
          <td>Software Development</td>
          <td>Swift Developer</td>
          <td>San Francisco</td>
          <td>Apr 1st, 2017</td>
          <td>$90,000 - $115,000</td>
          <td><button type="button" class="btn btn-xs btn-warning">Edit</button>&nbsp;&nbsp;<button type="button" class="btn btn-xs btn-danger">Remove</button></td>
        </tr>
        <tr>
          <td>6</td>
          <td>Accounting</td>
          <td>Controller</td>
          <td>San Francisco</td>
          <td>Mar 20th, 2017</td>
          <td>$135,000 - $150,000</td>
          <td><button type="button" class="btn btn-xs btn-warning">Edit</button>&nbsp;&nbsp;<button type="button" class="btn btn-xs btn-danger">Remove</button></td>
        </tr>
      </tbody>
    </table>
    </div>
    </div>
  </div>
</div>
<style media="screen">
  .joblist{
    height: 300px;
    overflow: scroll;
  }
  #tab_over{
    margin-left: 20px;
  }
  #company{
    display: inline-block;
    padding-top: 20px;
    height: 60px;
    weight: bold;
  }
  #company-logo{
    display: inline-block;
    width: 150px;
    height: 100px;
    vertical-align: top;
  }
  #bio{
    text-align: justify;
    text-justify: inter-word;
  }
  .listing{
    margin-top: 80px;
  }
</style>
