// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  h1, h2, h3, h4, h5, h6, legend  {
    font-family: 'Roboto Slab', serif;
  }

  p, input, option, li, ul {
    font-family: 'Lato', sans-serif;
  }

#myCarousel {
  margin-top: 50px;
}

.top-padding {
  margin-top: 60px;
}

#myCarousel > div > div > img {
  min-height: 410px;
  width: 100%;
}

.transparent-bg {
  background-color: rgba(0,0,0,0.75);
  padding: 5px;
  margin-bottom: 30px;
  width: 55%;
  left: 22.5%;
  right: 22.5%;
  border-radius: 15px;
  h3 {
    margin-top: 5px;
  }
}

.carousel .item {
  height: 415px;
}

.item img, .item active img {
  position: absolute;
  top: 0;
  left: 0;
  height: 415px;
}

.jumbo-wrapper {
  background-color: rgba(0,0,0,0.75);
  color: #FFFFFF;
  height: 100%;
  padding: 5px 0px 10px;
}


.home-btns {
  margin: 10px -1px;
  display: inline-block;
}

#main-nav {
  background: -webkit-linear-gradient(left, #013E85, #2E5F9A);
  background: -o-linear-gradient(left, #013E85, #2E5F9A);
  background: -moz-linear-gradient(left, #013E85, #2E5F9A);
  background: linear-gradient(left, #013E85, #2E5F9A);
  color: #000000;
  border: none;
  border-radius: 0;
  box-shadow: 0px 3px 5px #333333;
}

.navbar-header {
  position: relative;
}

.brand-logo {
  position: absolute;
  left: 50%;
  padding: 0px;
  margin-left: -50px;
  width: 100px;
}


.brand-logo>img {
  height: 95%;
  width: 100px;
  margin-top: 5px;
}

.container {
  height: 800px;
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

.btn {
  box-shadow: 3px 3px 5px #000000;
  border-radius: 5px;
}

.more-info {
  background-color: #2E5F9A;
  height: 220px;
  color: #FFFFFF;
}

.recruits {
  border-right: 1px solid white;
  margin: 15px 0px;
}

.recruiters {
  margin: 15px 0px;
}

.dropdown-toggle {
  color: #EFEFEF;
  background-color: inherit;
}

.nav > li > a:hover, .nav > li > a:focus {
  color: #FFFFFF;
  background-color: inherit
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  color: #FFFFFF;
  background-color: inherit
}
